In [47]:
import pandas as pd
import numpy as np
import json

In [48]:
df = pd.read_csv(r'C:\Users\tbrti\Desktop\Nani\PACEDS\Course_Project\Data\technical_data.csv', index_col="Date")
df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
df.dropna(axis=0, inplace=True)
df.head()

,Open,High,Low,Close,Adj Close,Volume,lrets,MACD,stochastics,ATR
Date,,,,,,,,,,
1950-01-24,16.860001,16.860001,16.860001,16.860001,16.860001,1250000,-0.003552,0.002636,45.238333,0.059999
1950-01-25,16.740000,16.740000,16.740000,16.740000,16.740000,1700000,-0.007143,-0.003952,16.666667,0.120001
1950-01-26,16.730000,16.730000,16.730000,16.730000,16.730000,1150000,-0.000598,-0.008599,14.285714,0.010000
1950-01-27,16.820000,16.820000,16.820000,16.820000,16.820000,1250000,0.005365,-0.006366,35.714286,0.090000
1950-01-30,17.020000,17.020000,17.020000,17.020000,17.020000,1640000,0.011820,0.006641,83.333333,0.200000

In [50]:
df.tail(10)

,Open,High,Low,Close,Adj Close,Volume,lrets,MACD,stochastics,ATR
Date,,,,,,,,,,
2018-07-02,2704.949951,2727.260010,2698.949951,2726.709961,2726.709961,3073650000,0.003063,-12.483065,32.681684,28.310059
2018-07-03,2733.270020,2736.580078,2711.159912,2713.219971,2713.219971,1911470000,-0.004960,-12.560365,16.401244,25.420166
2018-07-05,2724.189941,2737.830078,2716.020020,2736.610107,2736.610107,2953420000,0.008584,-10.622065,46.207935,24.610107
2018-07-06,2737.679932,2764.409912,2733.520020,2759.820068,2759.820068,2554780000,0.008446,-7.325188,81.206274,30.889892
2018-07-09,2775.620117,2784.649902,2770.729980,2784.169922,2784.169922,3050040000,0.008784,-3.085355,100.000000,24.829834
2018-07-10,2788.560059,2795.580078,2786.239990,2793.840088,2793.840088,3063850000,0.003467,0.633687,100.000000,11.410156
2018-07-11,2779.820068,2785.909912,2770.770020,2774.020020,2774.020020,2964740000,-0.007119,1.748863,78.961867,23.070068
2018-07-12,2783.139893,2799.219971,2781.530029,2798.290039,2798.290039,2821690000,0.008711,4.155845,100.000000,25.199951
2018-07-13,2796.929932,2804.530029,2791.689941,2801.310059,2801.310059,2614000000,0.001079,5.866535,100.000000,12.840088
2018-07-16,2797.360107,2801.189941,2793.389893,2798.429932,2798.429932,2812230000,-0.001029,6.601378,97.167465,7.920166

In [51]:
def open_json(year, month):
    "Save as pandas dataframe"
    file_str = r'C:\Users\tbrti\Desktop\Nani\PACEDS\Course_Project/Data/' + str(year) + '-' + '{:02}'.format(month) + '.json'
    with open(file_str) as data_file:    
        NYTimes_data = json.load(data_file)
    
    date_list = []
    df = pd.DataFrame()  
    df['News'] = None
    

    for i in range(len(NYTimes_data["response"]["docs"][:])):
        if NYTimes_data["response"]["docs"][i]["pub_date"][:10] not in df.index:
            df.ix[NYTimes_data["response"]["docs"][i]["pub_date"][:10]] = NYTimes_data["response"]["docs"][:][i]['headline']['main']
        else:
            df.ix[NYTimes_data["response"]["docs"][i]["pub_date"][:10]] = df.ix[NYTimes_data["response"]["docs"][i]["pub_date"][:10]].values + NYTimes_data["response"]["docs"][:][i]['headline']['main']
    
    df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
    df.sort_index(inplace=True)
    
    return df

In [53]:
def merge_news_price(df):
    all_news = pd.DataFrame()
    for i in range(1990, 2019):
        for j in range(1, 13):
            try:
                temp = open_json(i, j)
                all_news = all_news.append(temp)
            except:
                pass
            
    all_news = pd.concat([df, all_news], axis=1)
    
    return all_news

In [54]:
data = merge_news_price(df)

C:\Users\tbrti\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

C:\Users\tbrti\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  app.launch_new_instance()

In [55]:
data

,Open,High,Low,Close,Adj Close,Volume,lrets,MACD,stochastics,ATR,News
1950-01-24,16.860001,16.860001,16.860001,16.860001,16.860001,1.250000e+06,-0.003552,0.002636,45.238333,0.059999,NaN
1950-01-25,16.740000,16.740000,16.740000,16.740000,16.740000,1.700000e+06,-0.007143,-0.003952,16.666667,0.120001,NaN
1950-01-26,16.730000,16.730000,16.730000,16.730000,16.730000,1.150000e+06,-0.000598,-0.008599,14.285714,0.010000,NaN
1950-01-27,16.820000,16.820000,16.820000,16.820000,16.820000,1.250000e+06,0.005365,-0.006366,35.714286,0.090000,NaN
1950-01-30,17.020000,17.020000,17.020000,17.020000,17.020000,1.640000e+06,0.011820,0.006641,83.333333,0.200000,NaN
1950-01-31,17.049999,17.049999,17.049999,17.049999,17.049999,1.690000e+06,0.001761,0.017076,100.000000,0.029999,NaN
1950-02-01,17.049999,17.049999,17.049999,17.049999,17.049999,1.810000e+06,0.000000,0.023707,100.000000,0.000000,NaN
1950-02-02,17.230000,17.230000,17.230000,17.230000,17.230000,2.040000e+06,0.010502,0.038073,100.000000,0.180001,NaN
1950-02-03,17.290001,17.290001,17.290001,17.290001,17.290001,2.210000e+06,0.003476,0.050250,100.000000,0.060001,NaN
1950-02-06,17.320000,17.320000,17.320000,17.320000,17.320000,1.490000e+06,0.001734,0.058711,100.000000,0.029999,NaN
1950-02-07,17.230000,17.230000,17.230000,17.230000,17.230000,1.360000e+06,-0.005210,0.056944,84.745763,0.090000,NaN
1950-02-08,17.209999,17.209999,17.209999,17.209999,17.209999,1.470000e+06,-0.001161,0.052369,81.355763,0.020001,NaN
1950-02-09,17.280001,17.280001,17.280001,17.280001,17.280001,1.810000e+06,0.004059,0.051568,93.220508,0.070002,NaN
1950-02-10,17.240000,17.240000,17.240000,17.240000,17.240000,1.790000e+06,-0.002318,0.046438,86.440678,0.040001,NaN
1950-02-14,17.059999,17.059999,17.059999,17.059999,17.059999,2.210000e+06,-0.010496,0.029430,55.932034,0.180001,NaN
1950-02-15,17.059999,17.059999,17.059999,17.059999,17.059999,1.730000e+06,0.000000,0.016167,55.932034,0.000000,NaN
1950-02-16,16.990000,16.990000,16.990000,16.990000,16.990000,1.920000e+06,-0.004112,0.001374,34.000000,0.069999,NaN
1950-02-17,17.150000,17.150000,17.150000,17.150000,17.150000,1.940000e+06,0.009373,0.001027,48.484848,0.160000,NaN
1950-02-20,17.200001,17.200001,17.200001,17.200001,17.200001,1.420000e+06,0.002911,0.003613,63.636667,0.050001,NaN
1950-02-21,17.170000,17.170000,17.170000,17.170000,17.170000,1.260000e+06,-0.001746,0.002875,54.545455,0.030001,NaN
1950-02-23,17.209999,17.209999,17.209999,17.209999,17.209999,1.310000e+06,0.002327,0.004492,66.666364,0.039999,NaN
1950-02-24,17.280001,17.280001,17.280001,17.280001,17.280001,1.710000e+06,0.004059,0.009734,87.879091,0.070002,NaN
1950-02-27,17.280001,17.280001,17.280001,17.280001,17.280001,1.410000e+06,0.000000,0.012641,87.879091,0.000000,NaN
1950-02-28,17.219999,17.219999,17.219999,17.219999,17.219999,1.310000e+06,-0.003478,0.009730,79.309727,0.060002,NaN
1950-03-01,17.240000,17.240000,17.240000,17.240000,17.240000,1.410000e+06,0.001161,0.008246,86.206599,0.020001,NaN
1950-03-02,17.230000,17.230000,17.230000,17.230000,17.230000,1.340000e+06,-0.000580,0.005759,82.758335,0.010000,NaN
1950-03-03,17.290001,17.290001,17.290001,17.290001,17.290001,1.520000e+06,0.003476,0.007441,100.000000,0.060001,NaN
1950-03-06,17.320000,17.320000,17.320000,17.320000,17.320000,1.470000e+06,0.001734,0.009940,100.000000,0.029999,NaN
1950-03-07,17.200001,17.200001,17.200001,17.200001,17.200001,1.590000e+06,-0.006952,0.002568,63.636667,0.119999,NaN
1950-03-08,17.190001,17.190001,17.190001,17.190001,17.190001,1.360000e+06,-0.000582,-0.003920,60.606364,0.010000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2018-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Molly Dwyer, Nicolas MartellAmanda Ratner, Nic..."
2018-06-18,2765.790039,2774.989990,2757.120117,2773.750000,2773.750000,3.287150e+09,-0.002128,4.475595,83.942038,22.539795,New York Today: It’s Corruption Trial SeasonKi...
2018-06-19,2752.010010,2765.050049,2743.189941,2762.590088,2762.590088,3.661470e+09,-0.004032,2.268304,70.262335,30.560059,New Charges in Huge C.I.A. Breach Known as Vau...
2018-06-20,2769.729980,2774.860107,2763.909912,2767.320068,2767.320068,3.327600e+09,0.001711,0.795277,62.607626,12.270019,Review: ‘Sugar in Our Wounds’ May Make You Cry...
2018-06-21,2769.280029,2769.280029,2744.389893,2749.760010,2749.760010,3.300060e+09,-0.006366,-1.714214,7.228350,24.890136,"At Same-Sex Dances, Anyone Can LeadRick Owens:..."
2018-06-22,2760.790039,2764.169922,2752.679932,2754.879883,2754.879883,5.450550e+09,0.001860,-3.244215,15.978518,14.409912,36小时玩转孟菲斯Make T Something | Geoffrey ChadseyMa...
2018-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,States With Active Photo ID LawsTrudeau Doesn’...
2018-06-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Emi Nietfeld, Byron HoodAshley Fischer, Jonath..."
2018-06-25,2742.939941,2742.939941,2698.669922,2717.070068,2717.070068,3.655080e+09,-0.013820,-7.113162,0.000000,56.209961,"The Return of Populism, Latin America StyleQuo..."
2018-06-26,2722.120117,2732.909912,2715.600098,2723.060059,2723.060059,3.555090e+09,0.002202,-9.355206,8.584105,17.309814,A Very Partisan Supreme Court TermOklahoma Pri...
2018-06-27,2728.449951,2746.090088,2699.379883,2699.629883,2699.629883,3.776090e+09,-0.008642,-12.480089,0.000000,46.710205,What the Times’s Mark Mazzetti Learned From th...
2018-06-28,2698.689941,2724.340088,2691.989990,2716.310059,2716.310059,3.428140e+09,0.006160,-13.233835,19.124209,32.350098,"After Kennedy’s Exit, Supreme Court’s Center I..."
2018-06-29,2727.129883,2743.260010,2718.030029,2718.370117,2718.370117,3.565620e+09,0.000758,-13.326144,21.486113,26.949951,"Brett Gardner Shook Off a Collision, but Quest..."
2018-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A Place by a Lake or in the Woods: the Canada ...
2018-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Her Daughter in Tow, Serena Williams Welcomes ..."
2018-07-02,2704.949951,2727.260010,2698.949951,2726.709961,2726.709961,3.073650e+09,0.003063,-12.483065,32.681684,28.310059,"For Puerto Rican Evacuees, a Journey Without E..."
2018-07-03,2733.270020,2736.580078,2711.159912,2713.219971,2713.219971,1.911470e+09,-0.004960,-12.560365,16.401244,25.420166,9 Reads Almost as Satisfying as Taking a Vacat...
2018-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Andrés Cantor Thinks Everything Sounds Better ...
2018-07-05,2724.189941,2737.830078,2716.020020,2736.610107,2736.610107,2.953420e+09,0.008584,-10.622065,46.207935,24.610107,Gleyber Torres’s Injury Dampens a Yankees Vict...
2018-07-06,2737.679932,2764.409912,2733.520020,2759.820068,2759.820068,2.554780e+09,0.008446,-7.325188,81.206274,30.889892,Review: The Criminal Life in Mumbai in ‘Sacred...
2018-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Corrections: July 7, 2018Shifting Strategy, Tr..."
2018-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Samantha Green, Andrew TieniberSusie Saavedra,..."
2018-07-09,2775.620117,2784.649902,2770.729980,2784.169922,2784.169922,3.050040e+09,0.008784,-3.085355,100.000000,24.829834,‘Sharp Objects’ Series Premiere Recap: Incorri...
2018-07-10,2788.560059,2795.580078,2786.239990,2793.840088,2793.840088,3.063850e+09,0.003467,0.633687,100.000000,11.410156,New York Today: The Tale of Tap DancingTrump F...
2018-07-11,2779.820068,2785.909912,2770.770020,2774.020020,2774.020020,2.964740e+09,-0.007119,1.748863,78.961867,23.070068,"NATO, Facebook, World Cup: Your Wednesday Brie..."
2018-07-12,2783.139893,2799.219971,2781.530029,2798.290039,2798.290039,2.821690e+09,0.008711,4.155845,100.000000,25.199951,"At 33, John Isner Finds New Heights in the Wim..."
2018-07-13,2796.929932,2804.530029,2791.689941,2801.310059,2801.310059,2.614000e+09,0.001079,5.866535,100.000000,12.840088,Is There Such a Thing as ‘Traveler’s Constipat...
2018-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U.S. Delegation and Mexico’s Next President Ai...
2018-07-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Taylor Lustig, Sean SavettThis Week’s Wedding ..."
2018-07-16,2797.360107,2801.189941,2793.389893,2798.429932,2798.429932,2.812230e+09,-0.001029,6.601378,97.167465,7.920166,NaN

In [56]:
data.to_csv(r'C:\Users\tbrti\Desktop\Nani\PACEDS\Course_Project\Data\alldata.csv', index=True)